# Interactive Stock Analysis
The goal of this project is to provide code that will fetch data from finance site and, with the use of python code, parse through the data and re-format in a way that is easier to understand.

Importing Python packages

In [101]:
#Importing pandas for functions and datareading
from pandas_datareader import data
import pandas as pd
import numpy as np

Function to provide financial data when called

In [145]:
def readmydata(tickers, start_date, end_date):
    financial_data = data.DataReader(tickers, 'yahoo', start_date, end_date)
    output = pd.DataFrame(financial_data)
    output = output.transpose()
    return output
# Set 'Name' as the index of the dataframe

Calling function

In [146]:
readmydata(tickers=['AAPL', 'CVX'], start_date='2022-06-01', end_date='2022-08-05')

Date                  2022-06-01    2022-06-02    2022-06-03    2022-06-06  \
Attributes Symbols
Adj Close  AAPL     1.487100e+02  1.512100e+02  1.453800e+02  1.461400e+02
           CVX      1.763200e+02  1.760000e+02  1.776000e+02  1.768300e+02
Close      AAPL     1.487100e+02  1.512100e+02  1.453800e+02  1.461400e+02
           CVX      1.763200e+02  1.760000e+02  1.776000e+02  1.768300e+02
High       AAPL     1.517400e+02  1.512700e+02  1.479700e+02  1.485700e+02
           CVX      1.781300e+02  1.765100e+02  1.782500e+02  1.780000e+02
Low        AAPL     1.476800e+02  1.468600e+02  1.444600e+02  1.449000e+02
           CVX      1.749400e+02  1.741000e+02  1.760000e+02  1.755100e+02
Open       AAPL     1.499000e+02  1.478300e+02  1.469000e+02  1.470300e+02
           CVX      1.767300e+02  1.747400e+02  1.760000e+02  1.779000e+02
Volume     AAPL     7.428660e+07  7.234810e+07  8.847140e+07  7.159840e+07
           CVX      8.824100e+06  7.441900e+06  8.433600e+06  6.734200e+06

Date                  2022-06-07    2022-06-08    2022-06-09
Attributes Symbols
Adj Close  AAPL     1.487100e+02  1.479600e+02  1.459400e+02
           CVX      1.802000e+02  1.811300e+02  1.787199e+02
Close      AAPL     1.487100e+02  1.479600e+02  1.459400e+02
           CVX      1.802000e+02  1.811300e+02  1.787199e+02
High       AAPL     1.490000e+02  1.498700e+02  1.479400e+02
           CVX      1.806600e+02  1.824000e+02  1.806250e+02
Low        AAPL     1.441000e+02  1.474600e+02  1.458110e+02
           CVX      1.769200e+02  1.802500e+02  1.785900e+02
Open       AAPL     1.443500e+02  1.485800e+02  1.470800e+02
           CVX      1.774700e+02  1.809500e+02  1.800300e+02
Volume     AAPL     6.780820e+07  5.389590e+07  2.965408e+07
           CVX      9.668300e+06  8.708700e+06  3.760562e+06