# Interactive Stock Analysis
The goal of this project is to provide code that will fetch data from finance site and, with the use of python code, parse through the data and re-format in a way that is easier to understand.

Importing Python packages

In [17]:
#Importing pandas for functions and datareading
from pandas_datareader import data
import pandas as pd
import numpy as np

Function to provide financial data when called

In [24]:
def readmydata(tickers, start_date, end_date):
    financial_data = data.DataReader(tickers, 'yahoo', start_date, end_date)
    df = pd.DataFrame(financial_data)
    df.columns = df.columns
    output = df.stack(level=-1)
    return output
# Set 'Name' as the index of the dataframe

Calling function

In [25]:
readmydata(tickers=['AAPL', 'CVX'], start_date='2022-06-01', end_date='2022-08-05')

Attributes           Adj Close       Close        High         Low  \
Date       Symbols
2022-06-01 AAPL     148.710007  148.710007  151.740005  147.679993
           CVX      176.320007  176.320007  178.130005  174.940002
2022-06-02 AAPL     151.210007  151.210007  151.270004  146.860001
           CVX      176.000000  176.000000  176.509995  174.100006
2022-06-03 AAPL     145.380005  145.380005  147.970001  144.460007
           CVX      177.600006  177.600006  178.250000  176.000000
2022-06-06 AAPL     146.139999  146.139999  148.570007  144.899994
           CVX      176.830002  176.830002  178.000000  175.509995
2022-06-07 AAPL     148.710007  148.710007  149.000000  144.100006
           CVX      180.199997  180.199997  180.660004  176.919998
2022-06-08 AAPL     147.960007  147.960007  149.869995  147.460007
           CVX      181.130005  181.130005  182.399994  180.250000
2022-06-09 AAPL     142.639999  142.639999  147.949997  142.529999
           CVX      177.520004  177.520004  180.639999  177.389999
2022-06-10 AAPL     137.130005  137.130005  140.759995  137.059998
           CVX      175.399994  175.399994  178.570007  173.649994
2022-06-13 AAPL     131.880005  131.880005  135.199997  131.440002
           CVX      167.330002  167.330002  172.000000  164.059998
2022-06-14 AAPL     132.110001  132.110001  133.250000  131.529999
           CVX      171.220001  171.220001  172.289993  168.449997

Attributes                Open     Volume
Date       Symbols
2022-06-01 AAPL     149.899994   74286600
           CVX      176.729996    8824100
2022-06-02 AAPL     147.830002   72348100
           CVX      174.740005    7441900
2022-06-03 AAPL     146.899994   88471400
           CVX      176.000000    8433600
2022-06-06 AAPL     147.029999   71598400
           CVX      177.899994    6734200
2022-06-07 AAPL     144.350006   67808200
           CVX      177.470001    9668300
2022-06-08 AAPL     148.580002   53950200
           CVX      180.949997    8715200
2022-06-09 AAPL     147.080002   69473000
           CVX      180.029999    9764600
2022-06-10 AAPL     140.279999   91437900
           CVX      176.369995    9529700
2022-06-13 AAPL     132.869995  121994600
           CVX      171.610001   14609000
2022-06-14 AAPL     133.130005   20115438
           CVX      169.369995    1996384