# Interactive Stock Analysis
The goal of this project is to provide code that will fetch data from finance site and, with the use of python code, parse through the data and re-format in a way that is easier to understand.

Importing Python packages

In [61]:
#Import pandas for functions and datareading
#Import MatplotLib for plotting
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt

Function to provide financial data when called

In [62]:
def readmydata(tickers, start_date, end_date):
    financial_data = data.DataReader(tickers, 'yahoo', start_date, end_date)
    df = pd.DataFrame(financial_data)
    df.columns = df.columns
    output = df.stack(level=-1)
    return output
# Set 'Name' as the index of the dataframe

Calling function

In [63]:
data_pack = readmydata(tickers=['AAPL', 'CVX'], start_date='2022-03-01', end_date='2022-06-05')
data_pack.head()

Attributes           Adj Close       Close        High         Low  \
Date       Symbols
2022-03-01 AAPL     162.960571  163.199997  166.600006  161.970001
           CVX      148.498352  149.720001  149.960007  144.699997
2022-03-02 AAPL     166.315643  166.559998  167.360001  162.949997
           CVX      152.882294  154.139999  155.750000  150.050003
2022-03-03 AAPL     165.986115  166.229996  168.910004  165.550003

Attributes                Open      Volume
Date       Symbols
2022-03-01 AAPL     164.699997  83474400.0
           CVX      145.009995  31159900.0
2022-03-02 AAPL     164.389999  79724800.0
           CVX      150.199997  31329500.0
2022-03-03 AAPL     168.470001  76678400.0

Function takes as input dataframe and picks columns

In [64]:
def pickmydata(data_pack, attributes, num_days):
    #Getting requested columns
    col = data_pack[attributes]
    col.head()
    
    #data_pack (tickers) = 
    #Statistics for requested column
    output = data_pack[attributes].describe()
    
    #for x in symbols
    for x in tickers:  
        #Object series indexed by date
        data_ticker = col.loc[:, tickers]
        
        #20-day moving average
        short_rolling_tickers = tickers.rolling(window = num_days).mean()

        #Plot
        fig, ax = plt.subplots(figsize=(16,9))
        ax.plot(tickers.index, tickers, label=tickers)
        ax.plot(short_rolling_tickers.index, short_rolling_tickers, label= num_days + 'days rolling')
        ax.set_xlabel('Date')
        ax.set_ylabel(attributes + ' Price ($)')
        ax.legend()
    
    return output

In [65]:
pickmydata(data_pack, "Close", 30)

count    134.000000
mean     162.909851
std        9.535717
min      137.350006
25%      157.530003
50%      164.474998
75%      170.049995
max      178.960007
Name: Close, dtype: float64