# Interactive Stock Analysis
The goal of this project is to provide code that will fetch data from finance site and, with the use of python code, parse through the data and re-format in a way that is easier to understand.

Importing Python packages

In [5]:
#Importing pandas for functions and datareading
from pandas_datareader import data
import pandas as pd
import numpy as np

Function to provide financial data when called

In [6]:
def readmydata(tickers, start_date, end_date):
    financial_data = data.DataReader(tickers, 'yahoo', start_date, end_date)
    df = pd.DataFrame(financial_data)
    #df = df.transpose()
    df.columns = df.columns
    return df
# Set 'Name' as the index of the dataframe

Calling function

In [7]:
readmydata(tickers=['AAPL', 'CVX'], start_date='2022-06-01', end_date='2022-08-05')

Attributes   Adj Close                   Close                    High  \
Symbols           AAPL         CVX        AAPL         CVX        AAPL
Date
2022-06-01  148.710007  176.320007  148.710007  176.320007  151.740005
2022-06-02  151.210007  176.000000  151.210007  176.000000  151.270004
2022-06-03  145.380005  177.600006  145.380005  177.600006  147.970001
2022-06-06  146.139999  176.830002  146.139999  176.830002  148.570007
2022-06-07  148.710007  180.199997  148.710007  180.199997  149.000000
2022-06-08  147.960007  181.130005  147.960007  181.130005  149.869995
2022-06-09  142.639999  177.520004  142.639999  177.520004  147.949997
2022-06-10  137.130005  175.399994  137.130005  175.399994  140.759995
2022-06-13  131.880005  167.330002  131.880005  167.330002  135.199997

Attributes                     Low                    Open              \
Symbols            CVX        AAPL         CVX        AAPL         CVX
Date
2022-06-01  178.130005  147.679993  174.940002  149.899994  176.729996
2022-06-02  176.509995  146.860001  174.100006  147.830002  174.740005
2022-06-03  178.250000  144.460007  176.000000  146.899994  176.000000
2022-06-06  178.000000  144.899994  175.509995  147.029999  177.899994
2022-06-07  180.660004  144.100006  176.919998  144.350006  177.470001
2022-06-08  182.399994  147.460007  180.250000  148.580002  180.949997
2022-06-09  180.639999  142.529999  177.389999  147.080002  180.029999
2022-06-10  178.570007  137.059998  173.649994  140.279999  176.369995
2022-06-13  171.970001  131.440094  164.059998  132.869995  171.610001

Attributes     Volume
Symbols          AAPL       CVX
Date
2022-06-01   74286600   8824100
2022-06-02   72348100   7441900
2022-06-03   88471400   8433600
2022-06-06   71598400   6734200
2022-06-07   67808200   9668300
2022-06-08   53950200   8715200
2022-06-09   69473000   9764600
2022-06-10   91437900   9529700
2022-06-13  121893720  12897926